Meme Builder.json
{
  "name": "Meme Builder",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=You are an AI Agent connected to Discord through n8n.\nYour purpose is to generate memes/images based on news article URLs provided by users.\n\nWorkflow Behavior\n\nInput (Discord Message)\n\nWhen a user sends a message containing a news article URL, capture the message.\n\nConfirmation\n\nConfirm your understanding by acknowledging the received URL.\n\nExample: “Got it! You’ve sent me this article link: {URL}. Generating a meme now…”\n\nImage Generation\n\nPass the URL and its context as a prompt to the Google Gemini Nano Banana Model (Gemini Image Preview model).\n\nInstruct the model to create a wierd, sarcastic, funny, shareable meme-style image summarizing or highlighting the article’s key theme.\n\nOutput (Discord Reply)\n\nSend the generated meme back into the same Discord channel as an image attachment.\n\nMake sure to generate images of the people accurate (if famous personalities).\n\nIf meme generation fails, reply with: “Sorry, I couldn’t create a meme for that link. Please try another article.”\n\nExample Interaction\n\nUser:\nhttps://www.example.com/news/article123\n\nAI Agent Response:\n“Got it! You’ve sent me this article link: https://www.example.com/news/article123\n. Generating a meme now…”\n→ Outputs an image generated by Google Gemini Nano Banana Model."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        536,
        368
      ],
      "id": "7fcd9a7f-1d00-4cb0-a2c4-e96f1ddf773e",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-image-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        800
      ],
      "id": "ef52ed88-7ff6-4cc3-895a-0bb3944a34b3",
      "name": "Google Gemini Chat Model",
      "notesInFlow": true,
      "credentials": {
        "googlePalmApi": {
          "id": "cDf3GthyvsGfhTQJ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "notes": "Gemini Nano Banana model"
    },
    {
      "parameters": {
        "jsCode": "// Function node (not Function Item)\n// Input: your AI Agent JSON with `output[1].inlineData`\n\n// Grab the first item\nconst item = items[0];\n\n// Find the image block in the Gemini output\nconst outputs = item.json.output || [];\nconst imageBlock = outputs.find(o => o.inlineData);\n\nif (!imageBlock) {\n  throw new Error(\"No inlineData found in AI output\");\n}\n\nconst b64 = imageBlock.inlineData.data;        // base64 string\nconst mime = imageBlock.inlineData.mimeType;   // e.g. \"image/png\"\nconst ext = mime.split(\"/\")[1] || \"png\";       // safe fallback\n\n// Convert to Buffer\nconst buf = Buffer.from(b64, \"base64\");\n\n// Prepare binary\nitem.binary = item.binary || {};\nitem.binary.meme = await this.helpers.prepareBinaryData(\n  buf,\n  `meme.${ext}`         // file name\n);\nitem.binary.meme.mimeType = mime;\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        384
      ],
      "id": "749a4c9a-32dd-4d68-a91f-60a5606ccf5a",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Here is your meme: ",
        "options": {},
        "files": {
          "values": [
            {
              "inputFieldName": "meme"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1120,
        336
      ],
      "id": "09240aab-b31d-4597-bd4d-9a4903394e0c",
      "name": "Discord",
      "webhookId": "6a5abdf9-4763-4e9c-87aa-992b15ab937d",
      "credentials": {
        "discordWebhookApi": {
          "id": "GshobaVDRmsHSvZW",
          "name": "Discord Webhook account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "1418977591200714784",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1418977591834050665",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784/1418977591834050665"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        304,
        776
      ],
      "id": "1e977dc9-6f03-433a-b11b-581c77de4569",
      "name": "Get many messages",
      "webhookId": "fab0c9e5-a15f-480d-9feb-988f49aae399",
      "credentials": {
        "discordOAuth2Api": {
          "id": "lng7eZ7cWsn8AzOI",
          "name": "Discord account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1418977591200714784",
          "mode": "list",
          "cachedResultName": "Rohith's server",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784"
        },
        "channelId": {
          "__rl": true,
          "value": "1418977591834050665",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784/1418977591834050665"
        },
        "content": "Sorry, an error occurred please try again: 😅",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        896,
        576
      ],
      "id": "1875528c-f841-42cd-9971-cde6e61f151a",
      "name": "Error message",
      "webhookId": "aea29fe8-682a-4520-b05e-fc78a1efa6da",
      "credentials": {
        "discordBotApi": {
          "id": "ZUYe7qyEFVZNWoY9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1418977591200714784",
          "mode": "list",
          "cachedResultName": "Rohith's server",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784"
        },
        "channelId": {
          "__rl": true,
          "value": "1418977591834050665",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784/1418977591834050665"
        },
        "content": "Something went wrong in receiving..",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        600,
        976
      ],
      "id": "f3394ce7-9a33-47eb-b97e-43babb52d5b1",
      "name": "Send a message1",
      "webhookId": "fc093b9d-278d-4523-8621-bb2c31c3105c",
      "credentials": {
        "discordBotApi": {
          "id": "ZUYe7qyEFVZNWoY9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1418977591200714784",
          "mode": "list",
          "cachedResultName": "Rohith's server",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784"
        },
        "channelId": {
          "__rl": true,
          "value": "1418977591834050665",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784/1418977591834050665"
        },
        "content": "=Error in parsing the code please try again by resending the link.\n\nDraft:\n{{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1120,
        816
      ],
      "id": "ca7e70eb-d506-4a1a-bf8f-dab8d8edfb8b",
      "name": "parsingerror",
      "webhookId": "e9a86249-e312-4631-865a-33f35745b486",
      "credentials": {
        "discordBotApi": {
          "id": "ZUYe7qyEFVZNWoY9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1418977591200714784",
          "mode": "list",
          "cachedResultName": "Rohith's server",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784"
        },
        "channelId": {
          "__rl": true,
          "value": "1418977591834050665",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784/1418977591834050665"
        },
        "content": "Here is your meme 😊:",
        "options": {},
        "files": {
          "values": [
            {
              "inputFieldName": "meme"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1120,
        624
      ],
      "id": "cd6958d5-9863-409d-a4f2-189d86dd853e",
      "name": "Send a message",
      "webhookId": "866b58bb-6764-4144-9be4-1b6b05c4382a",
      "credentials": {
        "discordBotApi": {
          "id": "ZUYe7qyEFVZNWoY9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1418977591200714784",
          "mode": "list",
          "cachedResultName": "Rohith's server",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784"
        },
        "channelId": {
          "__rl": true,
          "value": "1418977591834050665",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784/1418977591834050665"
        },
        "message": "shall i consider it as final?",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1344,
        624
      ],
      "id": "02881649-dfc3-43b8-8489-5ceddb95bda9",
      "name": "Send message and wait for response",
      "webhookId": "255a2f36-296c-4fb4-93bc-f134b1dca6e2",
      "credentials": {
        "discordBotApi": {
          "id": "ZUYe7qyEFVZNWoY9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sairohith7050@gmail.com",
        "subject": "here is your meme",
        "message": "=Hey chech the attachment for meme of this news article:  {{ $('Get many messages').item.json.content }}\n<br>\n{{ $('Send a message').item.json.attachments[0].url }}\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "meme"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2240,
        240
      ],
      "id": "4c75e849-5bcb-4384-9664-fc842f09f568",
      "name": "Send a message2",
      "webhookId": "14f9cbdd-d76b-4d8e-b1e9-223b6849999c",
      "credentials": {
        "gmailOAuth2": {
          "id": "Sbd6f1TY22ZcutLP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rule": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41591b11-29ce-4f72-8ff3-65f7dd4ad487",
                    "leftValue": "true",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        528,
        592
      ],
      "id": "e64df750-b4ac-4ca6-a69d-83f5094a867a",
      "name": "Model Selector"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        672,
        800
      ],
      "id": "cb76eea4-af7a-468b-b872-7f425babbe82",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Ae8J774bDTEiuuh1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        776
      ],
      "id": "99cde196-443d-42b6-aba9-68dc8eb5b014",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "63e2b026-1691-4c32-bca4-aa1ae77764d1",
              "leftValue": "={{ $json.data.text }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        552
      ],
      "id": "c3e300fb-2269-4a3b-ad78-e332e19a2a1e",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1418977591200714784",
          "mode": "list",
          "cachedResultName": "Rohith's server",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784"
        },
        "channelId": {
          "__rl": true,
          "value": "1418977591834050665",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1418977591200714784/1418977591834050665"
        },
        "content": "🤦‍♂️🤷‍♂️",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2016,
        600
      ],
      "id": "a1f19816-a209-401c-9feb-8cf3d6ae4fd8",
      "name": "Send a message3",
      "webhookId": "9738dac6-1ca2-475c-82cc-f4a5b3e32a75",
      "credentials": {
        "discordBotApi": {
          "id": "ZUYe7qyEFVZNWoY9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        552
      ],
      "id": "e608255f-4569-4a79-bd8d-6aec2e75e4a7",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        240
      ],
      "id": "5981913c-0e9a-4339-b039-6b3143f34ff3",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "parsingerror",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Model Selector": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        []
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6efa7446-edf9-421a-b89b-2b3e110532b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74358af406935f8fcd02a2bfc6c77ece12949e6692d8a3f4a85cd88b5424f63f"
  },
  "id": "qkkIJprkEVYYCkpz",
  "tags": []
}